{% extends "base.html" %}

{% load i18n mezzanine_tags %}

{% block full_meta_title %}
{% if settings.SITE_TITLE %}{{ settings.SITE_TITLE }}
{% if settings.SITE_TAGLINE %} - {{ settings.SITE_TAGLINE }}{% endif %}
{% else %}{% trans "Home" %}{% endif %}
{% endblock %}

{% block styles %}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}stylesheets/index.css">
  {% endcompress %}
{% endblock %}

{% block content %}
	<!-- First Band (Image) -->
  <div id="slideshow" class="row">
    <div class="twelve columns">
      <img src="http://placehold.it/1000x400&text=[img]" />
    </div>
  </div>

  <!-- Second Band (Image Left with Text) -->
  <section id="features">
    <div class="row">
      <div id="badges" class="row">
        <div class="eight columns centered">
          <div class="four columns"><img src="{{ STATIC_URL }}images/power-badge.png"></div>
          <div class="four columns"><img src="{{ STATIC_URL }}images/battery-badge.png"></div>
          <div class="four columns"><img src="{{ STATIC_URL }}images/einput-badge.png"></div>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="nine columns centered">
          <h2>Power Up Your Experiences</h2>
        </div>
      </div>
      <br/>
      <br/>
      <div class="row">
        <div class="twelve columns centered">
          <div class="four columns">
            <h3>Web</h3>
            <p></p>
            <a href="">Click here to learn more</a>
          </div>
          <div class="four columns">
            <h3>Mobile</h3>
            <p></p>
            <a href="">Click here to learn more</a>
          </div>
          <div class="four columns">
            <h3>Workflow</h3>
            <p></p>
            <a href="">Click here to learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="our-team">
    <div class="divider-bar row"></div>
    <div id="the-team" class="row">
      <div class="twelve columns">
        <div class="six columns">
          <h2>The Team</h2>
          <p></p>
        </div>
        <div class="six columns">
          <div class="six columns">
            <img src="{{ STATIC_URL }}images/primary-team-badge.png" />
          </div>
          <div class="six columns">
            <img src="{{ STATIC_URL }}images/secondary-team-badge.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="divider-bar"></div>
  </section>
  
  <section id="recent-projects">
    <div class="row">
      <div class="twelve columns">
        <h4>The Results</h4>
        <div class="heading-divider"></div>
        <p></p>
      </div>
    </div>
    <div class="row">
      <div class="twelve columns centered">
        <div class="four columns"><img src="{{ STATIC_URL }}images/portofolio-badge.png"></div>
        <div class="four columns"><img src="{{ STATIC_URL }}images/portofolio-badge.png"></div>
        <div class="four columns"><img src="{{ STATIC_URL }}images/portofolio-badge.png"></div>
      </div>
    </div>
  </section>
    
  <section id="more-info">
    <hr />
    <div class="row">
      <div class="twelve columns centered">
        <div class="four columns">
          <h5>From The Blog</h5>
        </div>
        <div class="four columns">
          <h5>About Us</h5>
          
        </div>
        <div class="four columns">
          <h5>Tweets</h5>
        
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}
