/* line 5, ../../../sass/index.scss */
section {
  margin-top: 40px;
}

/* line 9, ../../../sass/index.scss */
#badges {
  overflow: hidden;
}
/* line 12, ../../../sass/index.scss */
#badges div.badge {
  text-align: center;
}

/* line 17, ../../../sass/index.scss */
#our-team {
  background-color: #3b3b3b;
  color: #fdfdfd;
}
/* line 21, ../../../sass/index.scss */
#our-team h2 {
  color: #fdfdfd;
}

/* line 26, ../../../sass/index.scss */
#the-team {
  padding: 20px 0;
}

/* line 30, ../../../sass/index.scss */
div.portfolio-item {
  height: 300px;
  width: 300px;
}
/* line 34, ../../../sass/index.scss */
div.portfolio-item img.ss {
  position: relative;
}
/* line 38, ../../../sass/index.scss */
div.portfolio-item div.overlay {
  position: absolute;
  display: none;
  top: 13px;
  left: 30px;
  width: 265px;
  height: 265px;
  background-color: silver;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  -ms-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
}
/* line 50, ../../../sass/index.scss */
div.portfolio-item img.ico {
  position: absolute;
  top: 105px;
  left: 120px;
  display: none;
  z-index: 2;
}

/* line 62, ../../../sass/index.scss */
div.portfolio-item:hover img.ico {
  display: block;
}
/* line 66, ../../../sass/index.scss */
div.portfolio-item:hover div.overlay {
  display: block;
}
