{% extends "base.html" %}
{% load compress i18n %}

{% block meta_title %}
{% trans "About" %}
{% endblock %}

{% block styles %}
  {% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/about.css">
  {% endcompress %}
{% endblock %}

{% block content %}
  <section class="page-title">
    <div class="row">
      <div class="twelve columns">
        <h2 class="subheader"><small>{% trans "about" %}</small></h2>
        <h3>Who We Are</h3>
      </div>
    </div>
  </section>
  
  <section class="row">
    <div class="ten columns centered">
      <h4>blah blah blah</h4>
      <p>{% blocktrans %}
        A lot of folks find it hard to make their place on the internet, either due to busy schedules or lack of knowledge. This is exactly where we fit in. Our team has spent their careers on everything from a simple one page product displays to full blown order management systems.
        {% endblocktrans %}</p>
      <p>{% blocktrans %}
        We provide you not only the end product you ask for, but the knowledge and guidance needed to continue to make sure what you need continues to be beautiful, easy to maintain, and simple for your users.
        {% endblocktrans %}</p>
    </div>
  </section>
  
  <section class="row">
    <div class="twelve columns">
      <h5>{% trans "The Team" %}</h5>
      <ul>
        <li>Zak</li>
        <li>Judy</li>
      </ul>
    </div>
  </section>
  
  <section class="row">
    <div class="twelve columns">
      <h5>{% trans "Our History" %}</h5>
      <p>{% blocktrans %}
        Created in August 2012, Brainfire LLC has strived on providing simple yet amazing web experiences that help companies succeed on the internet. We have lived in the web since it's creation (and a little before, but don't tell anyone) and have watched it turn from a small group of information sharing to a massive world of it's own. 
        {% endblocktrans %}</p>
    </div>
  </section>
  
{% endblock %}
